*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background-image_1.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    
    
   
}

#main .main-content .AddBook{
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    background-color: antiquewhite;
    width: 100%;
}



#main .main-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 2px solid black; */
    background-color: rgb(232, 116, 21);
    margin-top: 80px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

#main .main-content .box1 label{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}


#main .main-content .box1 input{
    height: 30px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}


#main .main-content .box1 a{
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    /* width: auto; */
    border-radius: 20px;
    /* overflow-y: hidden; */
}


#main .main-content .box1 .container {
    text-align: center;
}

#main .main-content .box1 .image-preview {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#main .main-content .box1 .image-preview img {
    max-width: 300px;
    max-height: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
}